:ClassDeclaration
the declaration of the class and it's superclass and implementations
public abstract class $!{class.BaseClassName} #if ($class.isSubclass()) extends ${class.Parent.FullClassName} #elseif ($class.Extends)extends $class.Extends #end implements#if ($class.hasProxy()) $class.ProxyClassName,#end Serializable#if ($class.Implements), $class.Implements#end {