:CollectionGetter
the "getter" method for the value object collections
	/**
	 * Return the value associated with the column: ${prop.Column}
	 */
	public ${prop.FullClassName} ${prop.GetterName} () {
		return this.${prop.JavaName};
	}