:Getter
the "getter" method for the value object properties
	/**
	 * Return the value associated with the column: ${prop.Column}
	 */
	public ${prop.SignatureFullClassName} ${prop.GetterName} () {
		return ${prop.JavaName};
	}